body{
    margin:0;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: gray;
}

h1,p{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    margin: 1em;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

.tile{
    background-color: #1c1b18;
    margin:0.5em;

}

.container{
    display: grid;
    grid-template-columns: 1fr;
}